header {
    border-radius: 1%;
    display: block;
    margin: 1rem 0;
    padding: 0;
}

header h1 {
    float: left;
    padding-left: 1rem;
}

header nav {
    float: right;
    padding-right: 1rem;
}

header nav ul li {
    display: inline-block;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
}

main {
    border-radius: .5%;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    position: relative;
    font-size: larger;
}

section .about-me {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0;
}

img#headshot {
    display: block;
    max-width: 40vw;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

section .reach-me {
    display: inline-flex;
    flex-direction: row;
}

section .reach-me img {
    width: 3rem;
}

.container .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 400px;
    width: 100vw;
    gap: 10px;
    justify-items: stretch;
}

.project {
    text-align: center;
    margin: auto;
    padding: 1rem;
    height: 20rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 500;
}

#my-projects img {
    max-height: 90%;
}

footer {
    padding: 1rem;
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}